  .navigation {
    transition: all .3s ease-out;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 260px;
    background-color: var(--text-theme);
    color: var(--text-secondary);
    -webkit-overflow-scrolling: touch;
    text-transform: capitalize;
    font-weight: bold;
  }

  ul {
    margin: 5px;
    padding: 0px;
  }

  .navigation li {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    color: var(--text-default);
  }

  .navigation li:hover:not(.selected) {
    background-color: var(--text-hover);
    color: var(--text-secondary);
  }

  .navigation .selected {
    background-color: #2D232E;
    color: var(--text-default);
  }