  .navigation {
    transition: all .3s ease-out;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 10px;
    bottom: 0;
    width: 260px;
    background-color: #534B52;
    left: 0;
    color: white;
    -webkit-overflow-scrolling: touch;
    text-transform: capitalize;
  }

  ul {
    margin: 0px;
    padding: 0px;
  }

  .navigation li {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
  }

  .navigation li:hover:not(.selected) {
    background-color: #E0DDCF;
    color: black;
  }

  .navigation .selected {
    background-color: #2D232E;
    font-weight: bolder;
  }