.navigation {
    transition: all .3s ease-out;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 40px;
    bottom: 0;
    color: var(--text-secondary);
  }

  .navBar{
    left: 0;
    width: 260px;
    background-color: var(--text-theme);
    text-transform: capitalize;
    font-weight: bold;
  }

  .navigationHeader{
    top: 0;
    margin: 2px;
    position: absolute;
    height: 30px;
    color: white;
    text-align: center !important;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }

  .navigation li {
    padding-top: 15px;
    padding-left: 10px;
    padding-bottom: 15px;
    color: var(--text-default);
  }

  .navigation li:hover:not(.selected) {
    background-color: var(--text-hover);
    color: var(--text-secondary);
  }

  .navigation .selected {
    background-color: #2D232E;
    color: var(--text-default);
  }